header{
    height: 64px;
    margin-bottom: 16px;
}

#controller-container{
    margin: 8px auto;
    width: 100%;
    display: flex;
    justify-content: center;

    app-controller{
        color: #3f51b5;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
}
