mat-grid-tile{
    cursor: pointer;
}

#grid-container{
    position: relative;
    margin: 0 auto;
    width: 85vh;
}

.tile-content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.alive-tile{
    background-color: #ff4081;
}

.empty-tile{
    background-color: white;
}

.tile-content > mat-icon{
    margin-left: 8px;
}

@media screen and (max-width: 960px){
    #grid-container{
        width: 864px;
    }
}

@media screen and (max-width: 600px){
    #grid-container{
        width: 540px;
    }
}

@media screen and (max-width: 480px){
    #grid-container{
        width: 90vw;
    }
}


