mat-grid-tile{
    border:1px solid black;
}

#grid-container{
    position: relative;
    margin: 0 auto;
    width: 85vh;
}


#button-container{
    margin: 32px auto 32px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85vh;
    height: 128px;
    

    button, mat-slider{
        margin: 2em;
    }

    button mat-icon,span {
        font-size: 5em;
    }

    #counter{
        justify-self: flex-end;

    }

}

.tile-content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.alive-tile{
    background-color: yellow;
}

.empty-tile{
    background-color: white;
}

.tile-content > mat-icon{
    margin-left: 8px;
}

@media screen and (max-width: 960px){
    #grid-container{
        width: 864px;
    }
}

@media screen and (max-width: 600px){
    #grid-container{
        width: 540px;
    }
}

@media screen and (max-width: 480px){
    #grid-container{
        width: 90vw;
    }
}


