<div id="grid-container">
    <mat-grid-list cols="{{dimension}}" rowHeight="fit">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]=1 [rowspan]=1>
            <div class="tile-content"  [ngClass]= "{'alive-tile': tile.isAlive(), 'empty-tile': !tile.isAlive() }"(click)="onTileClick(tile)">
                <!-- <mat-icon matBadge="{{tile.getBirths()}}">thumb_up</mat-icon>
                <mat-icon matBadge="{{tile.getDeaths()}}">thumb_down</mat-icon> -->
            </div>
            
        </mat-grid-tile>
    </mat-grid-list>
<div>
<div id="button-container">
    <ng-container *ngIf="!simulation.isPlayed(); else pauseButton">
        <button mat-icon-button (click)="playSimulation()">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </ng-container>
    <ng-template #pauseButton>
        <button mat-icon-button (click)="pauseSimulation()">
            <mat-icon>pause</mat-icon>
        </button>
    </ng-template>
    
    <button mat-icon-button (click)="computeNextGlobalState()">
        <mat-icon>skip_next</mat-icon>
    </button>
    <mat-slider value="speed" thumbLabel="true" min="1" max="10" step="1" tickInterval="1"></mat-slider>
    <span> {{simulation.getTime()}}</span>
</div>





  
