mat-toolbar{
    display: flex;
    flex-direction: row;
}

mat-toolbar > span{
    display: inline;
}

.left-aligned-toolbar{
    justify-content: flex-start;
}

.center-aligned-toolbar{
    justify-content: center;
}

.right-aligned-toolbar{
    justify-content: flex-end;
}


@media screen and (max-width: 1024x){
    mat-toolbar{
        height: 64px;
    }
}

@media screen and (max-width: 960px){
    mat-toolbar{
        height: 64px;
    }
}

@media screen and (max-width: 600px){
    mat-toolbar{
        height: 48px;
        font-size: medium;
    }
}

@media screen and (max-width: 480px){
    mat-toolbar{
        height: 32px;
        font-size: small;
    }
}